@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}


main{
    position: relative;

    min-width: 1520px;
    height: 100vh;
    min-height: 700px;
}

.top-left{
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 50%;

    border-bottom-left-radius: 100px;

    z-index: 1;

    background-color: lightpink;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: calc(50% + 100px);

    background-color: lightpink;
}

.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 50%;
    height: calc(50% + 100px);

    background-color:#262626;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 50%;
    height: 50%;

    background-color:#262626;

    border-top-right-radius: 100px;
}


.controls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    width: 800px;
    height: 75px;

    margin-top: 15px;

    background-color: #262626;

    border-radius: 10px;

    z-index: 5;
}

.control{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;

    background-color: #404040;
    color: white;

    border-radius: 10px;

    border: none;
}

.control:hover{
    background-color: #6c757d;
}

#viz_start{
    cursor: pointer;
}

.node-info{
    display: flex;
    align-items: center;
}

.node-color{
    width: 25px;
    height: 25px;
}

.cell{
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid #B8E4F0;
}

.grid{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);


    display: grid;
    grid-template-rows: repeat(21, 25px);
    grid-template-columns: repeat(59, 25px);

    place-items: center;

    z-index: 2;

    background-color: white;

    cursor: pointer
}

.legend-container{
    position: absolute;
    left: 50%;
    bottom: 10px;

    transform: translate(-50%, 0);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 800px;
    height: 45px;

    background-color: white;

    border-radius: 20px;

    z-index: 2;
}

.source{
    background-image: url("icons/source.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: grab;

    animation: node-animation 0.25s ease-in-out forwards;
}



.source:hover{
    background-size: 80% 80%; 
}

.dest{
    background-image: url("icons/dest.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: grab;

    animation: node-animation 0.25s ease-in-out forwards;
}

@keyframes node-animation{
    0%{
        background-size: 100% 100%;
    }
}

.dest:hover{
    background-size: 80% 80%;
}

#speed{
    width: 80%;
}

#speed::-webkit-slider-thumb {
    background: gray;
}
  
#speed::-moz-range-thumb {
    background: gray;
}
  
#speed::-ms-thumb {
    background: gray;
}

.path-animated{
    background-color: greenyellow;

    animation: path-animation 1.5s ease-in-out forwards;
}

.path{
    background-color: greenyellow;

}

.path .dest {
    animation: none;
}

@keyframes path-animation{
    0% {
        background-color: #00e676;
    }

    50%{
        background-color: yellow;
    }
}

.wall{
    background-color: #6E3CBC;
    border-color: #6E3CBC;
}

.wall-animated{
    background-color: #6E3CBC;
    border-color: #6E3CBC;

    animation: wall-animation 0.5s ease-in-out forwards;
}

@keyframes wall-animation{
    0% {
        width: 25px;
        height: 25px;
    }

    50%{
        width: 20px;
        height: 20px;
    }

    100% {
        width: 25px;
        height: 25px;
    }
}

.wall.dest, .wall-animated.dest{
    background-color: white;
    border-color: #B8E4F0;
}

.wall.dest.path, .wall-animated.dest.path{
    background-color: greenyellow;
}



.wall.source, .wall-animated.source{
    background-color: white;
    border-color: #B8E4F0;
}

.wall.source.path, .wall-animated.source.path{
    background-color: greenyellow;
}

.visited{
    background-color: lightskyblue;
    border-color: white;
}

.visited-animated{
    background-color: lightskyblue;
    border-color: white;

    animation: visited-animation 1s ease-in-out forwards;
}

@keyframes visited-animation{
    0% {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: aquamarine;
    }

    100% {
        width: 25px;
        height: 25px;
        border-radius: 0;
    }
}


/* for the nav bar info */
.node-title{
    font-family: 'Roboto', sans-serif;
    color: #262626;
}

.display-source{
    background-image: url("icons/source.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.display-dest{
    background-image: url("icons/dest.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.display-cell{
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px solid #B8E4F0;
}

.display-visited{
    background-color: lightskyblue;
    border-color: white;
}

.display-path{
    background-color: greenyellow;
    border-color: greenyellow;
}

.display-wall{
    background-color: #6E3CBC;
    border-color: #6E3CBC;
}
